<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
Autor: Adalberto Kamida
dt. inclusão: 20/05/2015

-->


<hibernate-configuration>
    <session-factory name="session">
        
        <!-- CONFIGURAÇÕES DE CONEXÃO COM O BD -->
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property><!-- Defino o driver de conexão com o bd -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/administracao?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">teste</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <!-- HABILITA A EXIBIÇÃO DO SQL GERADO PELO HIBERNATE E FORMATA-O -->
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- HABILITA A ATUALIZAÇÃO AUTOMÁTICA DA ESTRUTURA DE TABELAS PELO HIBERNATE -->
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- CONFIGURAÇÕES DO POOL DE CONEXÕES-->
        
        <property name="c3p0.min_size">1</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">300</property>
        <property name="c3p0.max_statements">80</property>
        <property name="c3p0.idle_test_period">300</property>
        
        <!-- LISTA DE ENTIDADES -->
        <mapping class="br.com.samtweb.model.entities.Filial"/>        
        <mapping class="br.com.samtweb.model.entities.Municipio"/>      
        <mapping class="br.com.samtweb.model.entities.Uf"/>      
        <mapping class="br.com.samtweb.model.entities.Usuario"/>         
        <mapping class="br.com.samtweb.model.entities.Infracao"/>   
        <mapping class="br.com.samtweb.model.entities.Veiculo"/>   
        <mapping class="br.com.samtweb.model.entities.Infracao"/>
        <mapping class="br.com.samtweb.model.entities.CategoriaVeiculo"/>
        <mapping class="br.com.samtweb.model.entities.CorVeiculo"/>
        <mapping class="br.com.samtweb.model.entities.EspecieVeiculo"/>
        <mapping class="br.com.samtweb.model.entities.TipoVeiculo"/>
        <mapping class="br.com.samtweb.model.entities.PaisVeiculo"/>
        <mapping class="br.com.samtweb.model.entities.MarcaDenatranVeiculo"/>
        <mapping class="br.com.samtweb.model.entities.TipoInconsistencia"/>
        <mapping class="br.com.samtweb.model.entities.Status"/> 
        <mapping class="br.com.samtweb.model.entities.Processo"/>
    </session-factory>
</hibernate-configuration>

